/* #region commmon */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-header: #255EE9;
    --bg-sections: #F6F6F6;
    --bg-footer: #23272A;
    --txt-footer: #8EA1E1;
    --border-footer: #4A5882;
    --white: white;
    --black: black;
}

ul{
    list-style-type: none;
}

h2{
    font-size: 3rem;
    margin: 1.5rem auto;
}

h3{
    font-size: 2.5rem;
}

p{
    padding: 1rem 0;
    line-height: 1.5rem;
}

button{
    transition: all linear 1s;
}

button:hover{
    filter: drop-shadow(0 0 .5rem black);
}
/* #endregion commmon */

/* #region utility */
.container{
    width: 70%;
    margin: auto;
}

.row{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.space-btw{
    justify-content: space-between;
}

.flex-align-start{
    align-items: flex-start;
}

.col-02{
    width: calc((100% / 12) * 2);
}

.col-04{
    width: calc((100% / 12) * 4);
}

.col-05{
    width: calc((100% / 12) * 5);
}

.col-07{
    width: calc((100% / 12) * 7);
}

.flex-column{
    flex-direction: column;
}

.bg-white{
    background: var(--white);
}

.bg-black{
    background: var(--black);
}

.bg-lblue{
    background: var(--txt-footer);
}

.bg-lgrey{
    background: var(--bg-sections);
}

button{
    border: none;
}

.color-white{
    color: var(--white);
}

.text-center{
    text-align: center;
}

.btn-small{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.btn-large{
    font-size: 16px;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
}
/* #endregion utility */

/* #region header */
#header{
    background: var(--bg-header);
    padding: 1rem 0;
}

#header ul{
    gap: 1rem;
}

#header a{
    color: var(--white);
}

.border{
    width: 0%;
    height: 2px;
    border-radius: 2px;
    background: var(--white);
    transition: all linear .25s;
}

#header a:hover .border{
    width: 100%;
}

.banner-top{
    color: var(--white);
    background-image:url('../img/jumbo.png');
    background-size: cover;
    height: 525px;
}

.banner-top .container{
    width: 50%;
}

.logo{
    animation: fade-in linear 2s;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* #endregion header */

/* #region main */
.wave{
    width: 100%;
    color: var(--bg-sections);
    margin: -4px auto;
}

.rot-180{
    transform: rotate(180deg);
}

section{
    padding: 3rem 0;
}

section p{
    text-align: left;
}

section img{
    filter: blur(2px);
    transition: all linear 1s;
}

section img:hover{
    filter: blur(0px);
}

.banner-bottom h4{
    background-image: url(../img/stars.svg);
    background-size: 100%;
    padding: 20px;
}
/* #endregion main */

/* #region footer */
#footer{
    background: var(--bg-footer);
    padding: 3rem 0;
}

.footer-top{
    padding: 2rem 0;
}

.footer-top a{
    margin-right: 10px;
}

.footer-top a img{
    width: 40%;
}

.lang{
    padding: 2rem 0;
}

#footer .lang img{
    width: 20px;
    height: 100%;
}

#footer h4, #footer h5{
    font-size: 1rem;
    color: var(--txt-footer);
    line-height: 2rem;
}

#footer h4{
    font-size: 2rem;
}

#footer a{
    color: var(--white);
    line-height: 2rem;
}

.footer-bottom{
    border-top: 1px solid var(--border-footer);
    padding: 2rem 0;
    
}
/* #endregion footer */

/* #region debug */
.debug #header{
    height: 80px;
}

.debug #header .container{
    background: yellow;
}

.debug .banner-top{
    height: 550px;
    background: blue;
}

.debug .banner-top .container{
    background: yellow;
}

.debug section{
    height: 800px;
    background: grey;
    border: 1px solid red;
}

.debug section img{
    background: lightblue;
}

.debug section .text{
    background: pink;
}

.debug section .container{
    background-color: aqua;
}

.debug #footer .footer-top{
    height: 500px;
}

.debug div .col-04{
    background: pink;
}

.debug div .col-02{
    background: lightgreen;
    border: 1px solid white;
}

.debug #footer .footer-bottom{
    height: 170px;
}
/* #endregion debug */